@model IEnumerable<ClinicSystem.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="GetDoctor">Create New</a>
</p>

@using (Html.BeginForm("Index", "Appointments", FormMethod.Get, new { @class = "date-filter-form" }))
{
    <div class="form-group">
        <label for="fromDate" class="control-label">From:</label>
        @Html.TextBox("from", null, new { type = "date", @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="toDate" class="control-label">To:</label>
        @Html.TextBox("to", null, new { type = "date", @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Name)
            </td>
        </tr>
}
    </tbody>
</table>
